@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	--bg-color: #161527;
	--primary-color: rgba(151, 94, 219, 1);
	--secondary-color: rgba(71, 52, 227, 1);
	--link-color: #e7e9ee;
	--additional-color: #d8cdb0;
	--primary-button: linear-gradient(
		90deg,
		rgba(28, 28, 28, 1) 0%,
		rgba(71, 52, 227, 1) 0%,
		rgba(151, 94, 219, 1) 100%
	);
	--secondary-button: linear-gradient(
		90deg,
		rgba(28, 28, 28, 1) 0%,
		rgba(22, 8, 133, 1) 29%,
		rgba(65, 4, 108, 1) 51%,
		rgba(83, 1, 97, 1) 74%,
		rgba(0, 0, 0, 1) 100%
	);
}

body {
	background: url('../public/background.svg'),
		url('../public/background-blur.svg'), url('../public/background-blur2.svg'),
		url('../public/background.svg');
	background-size: 40%, 80%, 80%, 50% 50%;
	background-repeat: repeat, no-repeat, no-repeat, repeat;
	background-position: 0 0, left top, right top;
	background-color: var(--bg-color);
	color: var(--additional-color);

	&.simple {
		background: url('../public/background-simple.png'),
			url('../public/background-blur-simple.png'),
			url('../public/background-blur2-simple.png'),
			url('../public/background-simple.png');
		background-size: 40%, 80%, 80%, 50% 50%;
		background-repeat: repeat, no-repeat, no-repeat, repeat;
		background-position: 0 0, left top, right top;
		background-color: var(--bg-color);
	}
}

@media (max-width: 786px) {
	body {
		background: url('../public/background.svg'),
			url('../public/background-blur.svg'),
			url('../public/background-blur2.svg'), url('../public/background.svg');
		background-size: 100%, 300%, 300%, 50%;
		background-repeat: repeat, no-repeat, no-repeat, repeat;
		background-position: 0 0, center 80%, center 20%, 0 0;
		background-color: var(--bg-color);
		&.simple {
			background: url('../public/background-simple.png'),
				url('../public/background-blur-simple.png'),
				url('../public/background-blur2-simple.png'),
				url('../public/background-simple.png');
			background-size: 100%, 300%, 300%, 50%;
			background-repeat: repeat, no-repeat, no-repeat, repeat;
			background-color: var(--bg-color);
			background-position: 0 0, center 80%, center 20%, 0 0;
		}
	}
}

.avatar {
	max-width: 150px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	margin-bottom: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.fade-in {
	animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
.burger-icon {
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 1500;
	cursor: pointer;

	.burger-line {
		width: 100%;
		height: 4px;
		border-radius: 2px;
		transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1),
			width 0.5s cubic-bezier(0.7, 0, 0.3, 1),
			opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1),
			background-color 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	}

	&:hover {
		.burger-line {
			background-color: #ff5733;
		}
	}

	&.open {
		.top-line {
			transform: translateY(13px) rotate(45deg);
		}

		.middle-line {
			opacity: 0;
			width: 0%;
			transition: width 0.4s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.4s ease-in;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		}

		.bottom-line {
			transform: translateY(-13px) rotate(-45deg);
		}
	}
}
.burger-line {
	background-image: linear-gradient(45deg, #3443fe, #7f53b6);
}
.welcome_message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 24px;
	font-weight: bold;
	color: #5a6794;
}

.loadingContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #f2f2f2;
	z-index: 10;
	.loadingBar {
		height: 100%;
		width: 0;
		background-color: aquamarine;
		transition: width 0.5s ease-in-out;
		z-index: 1000;
	}
}

.wall {
	background: linear-gradient(90deg, #1e1e1e, #121212);
	color: #ffffff;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.createPost {
	background-color: #232323;
	padding: 16px;
	border-radius: 4px;
	margin-bottom: 16px;

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	input[type='text'],
	textarea {
		width: 100%;
		margin-bottom: 10px;
		padding: 8px;
		background: linear-gradient(90deg, #1e1e1e, #121212);
		border-radius: 4px;
	}

	textarea {
		resize: vertical;
		min-height: 100px;
	}

	button {
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 4px;
		padding: 8px 16px;
		margin-top: 10px;
		cursor: pointer;
	}
	::-webkit-scrollbar {
		width: 0.5em;
	}

	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
	}
}
